.cocAppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'raleway', sans-serif;
}

.cocAppHero {
  position: relative;
  width: 100%;
  height: 300px; 
  overflow: hidden; /*當子元素超出容器範圍時，將多餘的部分隱藏起來，不讓它顯示出來*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cocAppBackground {
  position: absolute;
  object-position:0% 70%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 不會拉扯圖片 */
  z-index: 0;
}

.UMCAppOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #af292e; 
  opacity: 0.8;
  z-index: 1;
}

.cocAppTitle {
   position: absolute;
   left: 7.5%;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  color: white;
}

.UMCLogo {
  height: 120px;
  margin-bottom: 10px;
}

.cocAppText{
  width: 85%;
}
