/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/app/COCApplication/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.page_cocAppContainer__nHzme {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'raleway', sans-serif;
}

.page_cocAppHero__9K2mj {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page_cocAppBackground__fwFTY {
  position: absolute;
  object-position:0% 70%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.page_cocAppOverlay__NKPhA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #003B70;
  opacity: 0.8;
  z-index: 1;
}

.page_cocAppTitle__HNlhm {
   position: absolute;
   left: 7.5%;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  color: white;
}

.page_cocLogo__NTgHH {
  height: 60px;
  margin-bottom: 10px;
}

.page_cocAppText__6nBwO{
  width: 85%;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/components/dividerContent.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.dividerContent_sectionWrapper__CwAeR {
  width: 100%;
}

.dividerContent_topicbar__2OEY_ {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.dividerContent_dividerContentTitle__NipB2 {
  white-space: nowrap;
  margin-right: 25px;
  font-size: 20px;
}

.dividerContent_dividerContentDivider__i2MLy {
  flex-grow: 1;
  height: 1.2px;
  background-color: #171717;
  opacity: 0.4;
}

.dividerContent_dividerContentText__KIxnR {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height:2rem;
}

.dividerContent_dividerContentText__KIxnR ul {
  padding-left: 1rem;
  list-style-type: numeric;
}

.dividerContent_dividerContentText__KIxnR li ul {
  padding-left: 1rem;
  list-style-type: numeric;
}

@media (min-width: 380px) and (max-width: 590px) {
  .dividerContent_topicbar__2OEY_{
    margin-top: 12px;
  }
  .dividerContent_dividerContentTitle__NipB2{
    font-size:1rem ;
    margin-right: 1rem;
  }

  .dividerContent_dividerContentText__KIxnR{
    font-size: 0.8rem;
    margin-top: 12px;
    line-height:1.5rem;
  }

  
}

