.QandAContainer{
    align-self: center;
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
}

.QandASideBar{
    height: auto;
    margin-right: 40px;
    margin-top: 25px;
    border: #000000 2px solid; 
}


.SideBarTitle{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    padding:18px;
}

.QandASideBar > ul{
    list-style-type: none;
    padding: 0;
    height: auto;
}
.QandASideBar >ul li{
    font-size: 16px;
    border-top: #000000 2px solid;
    padding: 1rem;
    font-weight: 500;
}

.QandASideBar >ul li:hover{
    background-color: #171717;
    color: #ffffff;
}

.QandA {
   display: flex;
   flex-direction: column;
    align-items: center;
    width: 72%;
}

.QandATitle{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    height: auto;
}

.expandToggle{
    align-self: flex-start;
}
.expandToggleText{
    text-align: left;
}

.expandToggleText:hover{
    cursor: pointer;
    text-decoration: underline;
}

.invisibleTitle{
    height: 0px;
    color: transparent;
}

@media (min-width: 380px) and (max-width: 590px) {
    .QandAContainer{
        margin-top: 1.2rem;
        width: 90%;
    }

    .QandA{
        width: 100%;
    }
}