.PPLContainer {
  align-self: center;
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 45px;
  gap: 4%;
}

.PPLSideSection{
  display: flex;
  flex-direction: column;
  width: 24%;
  height: auto;
  margin-right: 40px;
  margin-top: 6%;
  gap: 40px;
}

.seniorSideBar {
  align-self: center;
  width: 70%;
  border: #000000 2px solid;
}

.seniorSideBarTitle {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 18px;
}

.seniorSideBar > ul {
  list-style-type: none;
  padding: 0;
  height: auto;
}
.seniorSideBar > ul li {
  font-size: 16px;
  border-top: #000000 2px solid;
  padding: 1rem;
  font-weight: 600;
}

.seniorSideBar > ul li:hover {
  background-color: #171717;
  color: #ffffff;
  cursor: pointer;
}

.Seniorsarea {
  width: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seniorTitle {
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
  height: auto;
}

.expandToggle {
  align-self: flex-start;
}
.expandToggleText {
  text-align: left;
}

.expandToggleText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.invisibleTitle {
  height: 0px;
  color: transparent;
}

.PPLdivider {
  width: 110%;
  border-top: 3px solid #8c8a8a;
  margin-top: 20px;
  margin-bottom: 25px;
  border-bottom: none;
  opacity: 1;
}

.PPLColdEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.PPLColdEmailText {
  line-height: 1.7rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.PPLColdEmailExampleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.PPLColdEmailExampleTitle {
  font-size: 18px;
}

.PPLColdEmailExampleText {
  padding: 1rem;
  line-height: 2rem;
  border-radius: 20px;
  border: #171717 1px solid;
  font-weight: 500;
}


