body {
  line-height: 1.6;
}

.title_bar {
  background-color: #171717;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
  color: white;
  width: 100%;
}

.websiteHeader {
  width: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Pagename {
  width: 75%;
  font-family: Libre Baskerville;
  font-weight: bold;
}

#logoLink {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  margin: auto 0;
  aspect-ratio: 1;
}
.Schools {
  width: 75%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3%;
}
.button {
  font-weight: bold;
  font-family: Libre Baskerville;
  background: none;
  border: none;
  color: inherit;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1.2rem;
  gap: 10px;
}
.dropdown {
  max-width: 20%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  text-align: left;
  width: max-content;
  z-index: 10;
}

.dropdown-link {
  padding: 10px 16px;
  width: 100%;
  display: block;
  font-family: Libre Baskerville;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}
.dropdown-link:hover {
  background-color: black;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Small phones (0 - 380px) */
@media (min-width: 380px) and (max-width: 590px) {
  .title_bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .websiteHeader {
    width: 100%;
    justify-content: flex-start;
  }

  #logoLink {
    width: 12%;
  }

  .Schools {
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }

  .button {
    font-size: 1rem;
    padding: 10px 8px;
  }

  .dropdown {
    max-width: 100%;

    .dropdown-link {
      font-size: 1rem;
    }
  }
}
