.accordion {
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.QAaccordionTitle {
  color: #ffffff;
  background-color: #565656;
  padding: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  width: 100%;
  aspect-ratio: 12.5;
}

.arrow {
  margin-left: 80px;
}
.QAaccordionContent {
  margin-top: 20px;
  width: 90%;
  background-color: #d9d9d9;
  padding: 1.5rem;
  color: #000;
  line-height: 2rem;
}

.QAaccordionContent ul {
  padding: 1rem;
  list-style-type: disc;
}

@media screen {
    .QAaccordionTitle h4{
        font-weight: 500;
    }
    
    .QAaccordionContent{
        margin-top: 0.8rem;
        padding:1rem;
        line-height: 1.5rem;
    }
}
